body {
  font-size: 18px;
  background-color: #DFE2DB;
  color: #191919;
  margin: 0;
}
body h1 {
  color: #3B3738;
  font-size: 50px;
}
h1.title {
  margin-top: 45px;
  font-family: 'Shrikhand', cursive;
  text-align: center;
  margin-bottom: -15px;
}
.img-field {
  height: 300px;
  width: 500px;
  background-image:     url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/01/14/09/Manspreading.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin: auto;
}

.text p {
  margin:0
}

.get-url label,
.text {
    font-size: 1.5em;
    font-style: italic;
    line-height: 1;
    color: #026b61;
}

.text{
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin: 15px auto 9px;
}

form {
  text-align: center;
  margin: 1em;
  margin-bottom: 3em;
}
form input[type="text"] {
  border-radius: 6px;
  border: 4px solid grey;
  display: block;
  font-size: 1.5em;
  margin: 8px auto;
  padding: 8px 15px;
  width: 75%;
}

form input.submit{
    background: #2cbdf7; /* Old browsers */
    background: linear-gradient(to bottom,  #026b61 0%,#9adecf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border:0 none;
    border-radius: 8px;
    color: #3B3738;
    cursor:pointer;
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0 25px;
    padding:15px 25px;
    width: 81%;
}

@media screen and (min-width: 850px){
  form input[type="text"]{
    width: 500px;
  }
  form input.submit{
    width: 500px;
  }
}
@media screen and (max-width: 554px) {
  div.img-field{
    width: 100%;
  }
  h1.title{
    font-size: 35px;
  }
}

.modal {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  border: 2px solid black;
  display: none;
  min-height: 100px;
  font-family: 'Shrikhand', cursive;
  margin: auto;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  max-width: 470px;
  position: relative;
}

.modal p {
  margin: 10% 0;
  text-align: center;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #3B3738;
  color: #FEFDFB;
  text-align: center;
}

footer p {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

div.social {
  position: fixed;
  top: 5px;
  right: 5px;
  margin: 5px;
}
div.social a{
  color: #3B3738;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  font-size: 25px;
  background-color: #4ebdb3;
  text-decoration: none;
}
div.social a:hover{
  cursor: pointer;
}
